<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_map %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../regions_style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_map.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_regions.html") %>

    <div class="lead-image desktop">
      <img src="../assets/graphics/CHINA_whole_region_1500px.jpg"></img>
    </div>

    <div class="lead-image mobile">
      <img src="../assets/graphics/CHINA_whole_region_480px.jpg"></img>
    </div>

    <div class="hed">Explore Chinese Regional Cuisines</div>
    <div class="deck">Find the best restaurants serving these 17 regional cuisines. This needs to be longer. I'm not sure what it should say but it should say something insightful and descriptive for sure!</div>

    <div class="scrolly-container">
    <% for (var i=0; i < json.regional_chinese_descriptions.regions.length; i++){ %>

      <% var region = json.regional_chinese_descriptions.regions[i]; %>
      <div class="region" id="<%=region.Region%>">

        <div class="regional-flex">

          <div class="regional-map-hed">
            <div class="region-map"><img src="../assets/graphics/china0211_map_GR_online_TINY_NO_<%=region.Region.replace(/ /g,'').replace('&nbsp;','').split('(')[0].toUpperCase()%>.jpg"></img></div>
            <div class="region-hed <%=region.Region%>">
              <div class="chinese-region-hed"><img src="../assets/characters/chinesecharacters_BRUSH_PLAIN_<%=region.Region.replace(/ /g,'').replace('&nbsp;','').split('(')[0].toUpperCase()%>.jpg"></img></div>
              <%=region.Region%>
            </div>
          </div>

          <div class="regional-food-image">
            <% if (region.PhotoID) { %>
              <img src="//ww3.hdnux.com/photos/66/46/24/<%=region.PhotoID%>/9/800x0.jpg">
            <% } else { %>
              <div class="fake-image"></div>
            <% } %>
          </div>

        </div>

        <% if (region.text) { %>
          <div class="region-desc long">
            <% region.text.forEach(function(d,didx){ %>
              <% if (d.type == "text") { %>
                <p><%=d.value %></p>
              <% } %>
            <% }) %>
            <% if (region.Author) { %>
              <p class="writer">By <%=region.Author%></p>
            <% } %>
          </div>
        <% } else { %>
          <div class="region-desc">
            <p><%=region.Description%></p>
            <% if (region.Author) { %>
              <p class="writer">By <%=region.Author%></p>
            <% } %>
          </div>
        <% } %>

        <div class="visit-restaurants">
          <% if (region.restaurants.length > 1){ %>
            <div class="visit-restaurants-hed">Visit the restaurants:</div>
          <% } else { %>
            <div class="visit-restaurants-hed">Visit the restaurant:</div>
          <% } %>
          <% for (var j=0; j < region.restaurants.length; j++){ %>
            <a href="../map/#REST<%=region.restaurants[j].Restaurant.toLowerCase().replace(/ /g,'').replace(/[&’-]/g,'').replace(new RegExp(/[èéêë]/g),'e')%>" target="_blank"><div class="visit-restaurant-restaurant"><i class="fa fa-hand-o-right" aria-hidden="true"></i><%=region.restaurants[j].Restaurant%></div></a>
          <% } %>
        </div>

        <% if (region.DishesTitle) { %>
          <div class="dishes-wrapper">
            <div class="dishes-container">
              <div class="dishes-hed"><%=region.DishesTitle%></div>
              <% region.dishes.forEach(function(dd,ddidx){ %>
                <div class="dish"><div class="english"><%=dd.Dish%></div><div class="chinese"><%=dd.Chinese%></div></div>
              <% }) %>
            </div>
          </div>
        <% } %>

      </div>
    <% } %>
    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var region_info= <%= JSON.stringify(json.regional_chinese_descriptions.capsules) %>
    </script>

    <script src="../regions_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
