<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_map %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../regions_style.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_map.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_regions.html") %>

    <div class="hed">Chinese Regional Cuisines</div>
    <div class="deck">This is a deck about how we are going to tell you all about all the different cuisines in China.</div>

    <div class="header-button-container">
      <% for (var i=0; i < json.regional_chinese_descriptions.capsules.length; i++){ %>
        <div class="header-button <%=json.regional_chinese_descriptions.capsules[i].Region%>"><a href="#<%=json.regional_chinese_descriptions.capsules[i].Cuisine%>"><%=json.regional_chinese_descriptions.capsules[i].Region%></a></div>
      <% } %>
    </div>

    <div class="scrolly-container">
    <% for (var i=0; i < json.regional_chinese_descriptions.capsules.length; i++){ %>

      <% var region = json.regional_chinese_descriptions.capsules[i]; %>
      <div class="region-hed <%=region.Region%>" id="<%=region.Cuisine%>"><span class="region-span <%=region.Region%>"><%=region.Region%></span>
        <div class="cuisine-span">Featured Cuisine: <%=region.Cuisine%></div>
      </div>

      <div class="map-dishes-container">
        <div class="china-map-container" id="container<%=i%>">
          <img src="../assets/graphics/china0211_map_GR_online.jpg"></img>
          <%= t.include("assets/graphics/CHINA_FOOD_ALL_REGIONS.svg") %>
        </div>
        <% if (region.dishes) { %>
        <div class="dishes-container <%=region.Region%>">
          <div class="dishes-hed"><%=region.DishesTitle%></div>
          <% region.dishes.forEach(function(dd,ddidx){ %>
            <div class="dish"><div class="english"><%=dd.Dish%></div><div class="chinese"><%=dd.Chinese%></div></div>
          <% }) %>
        </div>
        <% } %>
      </div>

      <% region.text.forEach(function(d,didx){ %>
        <% if (d.type == "text") { %>
          <p><%=d.value %></p>
        <% } %>
      <% }) %>
      <p class="writer">- <%=region.Author%></p>


    <% } %>
    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var region_info= <%= JSON.stringify(json.regional_chinese_descriptions.capsules) %>
    </script>

    <script src="../regions_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
