<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_map %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../map_style.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_map.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_map.html") %>

    <div class="overlay-capsules" id="overlay-capsules">
      <div class="capsules-box" id="capsules-box">
        <div class="close-button" id="close-capsules-box"><i class="fa fa-times" aria-hidden="true"></i></div>
        <% for (var j=0; j < json.chinese_regional_caps_final.restaurants.length; j++) { %>
          <% var rest_temp = json.chinese_regional_caps_final.restaurants[j]; %>
          <div class="capsule" id="capsule<%=j%>">
            <div class="capsule-img"><img src="//ww3.hdnux.com/photos/66/46/24/14904267/9/1200x0.jpg"></div>
            <div class="capsule-title"><%=json.chinese_regional_caps_final.restaurants[j].Restaurant %></div>

            <div class="capsule-info">
              <div class="region-map"><img src="../assets/graphics/china0211_map_GR_online_TINY_NO_<%=rest_temp.Cuisine.split(', ')[0].split('/')[0].toUpperCase().replace(/ /g,'')%>.jpg"></img></div>
              <div class="cuisine line <%=rest_temp.Cuisine%>"><i class="fa fa-cutlery" aria-hidden="true"></i><%=rest_temp.Cuisine%> Cuisine</div>
              <div class="address line"><i class="fa fa-map-marker" aria-hidden="true"></i><%=rest_temp.City%></div>
              <% if (rest_temp["Signature dishes"]){ %>
                <div class="website line"><i class="fa fa-star" aria-hidden="true"></i><%=rest_temp["Signature dishes"]%></div>
              <% } %>
              <% if (rest_temp.Website && rest_temp.Website != "n/a"){ %>
                <div class="website line"><i class="fa fa-link" aria-hidden="true"></i><a href="<%=rest_temp.Website%>" target="_blank"><%=rest_temp.Website%></a></div>
              <% } %>
            </div>

            <div class="capsule-text"><%=json.chinese_regional_caps_final.restaurants[j].Capsule%></div>
            <div class="capsule-author">— <%=json.chinese_regional_caps_final.restaurants[j].Writer%></div>

          </div>
        <% } %>
      </div>
    </div>

    <div class="map">
      <div id="map-leaflet"></div>
      <div class="tooltip-map"></div>
    </div>

    <div class="map-container">

      <div class="sidebar">
        <div class="title">Find a restaurant near you</div>
        <%= t.include("partials/_fullwidthmap-social.html") %>
        <div class="deck">Click on the map or use the filter below.</div>


        <div class="filter-container">

          <% var cuisine_list = ["Dongbei","Shandong","Beijing","Shaanxi","Taiwan","Shanghai","Jiangnan","Sichuan","Xinjiang","Tibet","Yunnan","Guangdong (Cantonese)","Hunan","Guangxi","Hong Kong","Toisan","Hakka","Teochew","Northern dumplings","Uighur (Xinjiang)"] %>

          <div class="dropdown-container">
              <div class="drop-down right">
                <div class="select-text">Filter by cuisine:</div>
                <select name="select" id="select-cuisine">
                  <option value='all' class="option">All</option>
                  <% for (var idx=0; idx < cuisine_list.length; idx++) { %>
                  <option value='<%=cuisine_list[idx]%>' class="option"><%=cuisine_list[idx]%></option>
                  <% } %>
                </select>
              </div>
            </div>

          <div class="search-container map">
            <span class="search"><i class="fa fa-search" aria-hidden="true"></i>  </span>
            <input class="input" id="searchmap" type="text" placeholder='Try "vegetarian", "spicy", or "Fremont" ...'></input>
          </div>

          <div class="see-all button selected" id="see-all">See all</div>
          <div class="how-many-restaurants">There are <span id="count-how-many">35</span> result(s) for your search.</div>

        </div>


        <% var count = 0; %>
        <div class="restaurant-container">
        <% for (var j=0; j < json.chinese_regional_caps_final.restaurants.length; j++) { %>
            <% k = json.chinese_regional_caps_final.restaurants[j];%>
            <div class="restaurant-element active <%=k.City.replace(/ /g,'')%> <%=k.Cuisine.replace('/',' ')%> <%=k.Area%> <%=k['Signature dishes']%> <%=k.Tags%> <%=k.Restaurant.toLowerCase().replace(/ /g,'').replace(/[&’-]/g,'').replace(new RegExp(/[èéêë]/g),'e')%>" id="REST<%=k.Restaurant.toLowerCase().replace(/ /g,'').replace(/[&’-]/g,'').replace(new RegExp(/[èéêë]/g),'e')%>">
              <div class="restaurant line"><%=k.Restaurant%></div>
              <div class="cuisine line <%=k.Cuisine%>"><i class="fa fa-cutlery" aria-hidden="true"></i><%=k.Cuisine%> Cuisine</div>
              <div class="address line"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="https://www.google.com/maps/place/<%=k.Address%>"  target="_blank" class="google-link"><%=k.Address%></a></div>
              <% if (k.Phone){ %>
                <div class="phone line"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:<%=k.Phone%>"><%=k.Phone%></a></div>
              <% } %>
              <% if (k.Hours){ %>
                <div class="hours line"><i class="fa fa-calendar" aria-hidden="true"></i><%=k.Hours%></div>
              <% } %>
              <% if (k["Signature dishes"]){ %>
                <div class="dishes line"><i class="fa fa-star" aria-hidden="true"></i><%=k["Signature dishes"]%></div>
              <% } %>
              <div class="capsule-link" id="capsule<%=j%>"><i class="fa fa-hand-o-right" aria-hidden="true"></i>What to eat here</div>
              <% if (k.Tags){ %>
                <% var tags_list = k.Tags.split(", ") %>
                <div class="tags line">
                  <% tags_list.forEach(function(t,tIDX) { %>
                    <span class="tag <%=t%>"><i class="fa fa-tag" aria-hidden="true"></i><%=t%></span>
                  <% }) %>
                </div>
              <% } %>
            </div>
        <% } %>
        </div>

        <%= t.include("partials/_footer.html") %>

      </div>

    </div>


    <script>
      var restaurant_info= <%= JSON.stringify(json.ListForMap) %>
    </script>

    <script src="../map_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
