<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_map %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../map_style.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_map.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_map.html") %>

    <div class="map">
      <div id="map-leaflet"></div>
      <div class="tooltip-map"></div>
    </div>

    <div class="map-container">

      <div class="sidebar">
        <div class="title">Find a Chinese restaurant</div>
        <%= t.include("partials/_fullwidthmap-social.html") %>
        <div class="deck">Explore the restaurants by clicking on the map or filtering below.</div>


        <div class="filter-container">

          Filter by region:
          <div class="buttons-group">
            <div class="button north button-china" id="button-region-north">North</div>
            <div class="button south button-china" id="button-region-south">South</div>
            <div class="button west button-china" id="button-region-west">West</div>
            <div class="button east button-china" id="button-region-east">East</div>
            <div class="button taiwan button-china" id="button-region-taiwan">Taiwan</div>
          </div>

          <% var cuisine_list = ["Jiangnan","Wuxi","Shanghai","Korean-Chinese","Beijing","Dongbei","Dumplings","Shaanxi","Uyghur","Yunnan","Sichuan","Hakka","Hunan","Guangxi","Toisanese","Cantonese","Hong Kong"] %>
          <div class="dropdown-container">
              <div class="drop-down right">
                <div class="select-text">Filter by cuisine:</div>
                <select name="select" id="select-cuisine">
                  <option value='all' class="option">All</option>
                  <% for (var idx=0; idx < cuisine_list.length; idx++) { %>
                  <option value='<%=cuisine_list[idx]%>' class="option"><%=cuisine_list[idx]%></option>
                  <% } %>
                </select>
              </div>
            </div>

          <div class="search-container map">
            <span class="search"><i class="fa fa-search" aria-hidden="true"></i>  </span>
            <input class="input" id="searchmap" type="text" placeholder='Try "vegetarian", "spicy", or "Fremont" ...'></input>
          </div>

          <div class="how-many-restaurants">There are <span id="count-how-many">35</span> result(s) for your search.</div>

        </div>


        <% var count = 0; %>
        <% console.log(json.chinese_regional_capsules_final); %>
        <div class="restaurant-container">
        <% for (var j=0; j < json.chinese_regional_caps_final.restaurants.length; j++) { %>
            <% k = json.chinese_regional_caps_final.restaurants[j];%>
            <div class="restaurant-element active <%=k.City.replace(/ /g,'')%> <%=k.Cuisine.replace('/',' ')%> <%=k.Area%> <%=k['Signature dishes']%> <%=k.Tags%>" id="REST<%=k.Restaurant.toLowerCase().replace(/ /g,'').replace(/[&’-]/g,'').replace(new RegExp(/[èéêë]/g),'e')%>">
              <% console.log(k.Restaurant.toLowerCase().replace(/ /g,'').replace(/[&’-]/g,'').replace(new RegExp(/[èéêë]/g),"e")) %>
              <div class="restaurant line"><%=k.Restaurant%></div>
              <div class="cuisine line <%=k.Cuisine%>"><i class="fa fa-cutlery" aria-hidden="true"></i><%=k.Cuisine%> Cuisine</div>
              <div class="address line"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="https://www.google.com/maps/place/<%=k.Address%>"  target="_blank" class="google-link"><%=k.Address%></a></div>
              <% if (k.Phone){ %>
                <div class="phone line"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:<%=k.Phone%>"><%=k.Phone%></a></div>
              <% } %>
              <% if (k.Hours){ %>
                <div class="hours line"><i class="fa fa-calendar" aria-hidden="true"></i><%=k.Hours%></div>
              <% } %>
              <% if (k["Signature dishes"]){ %>
                <div class="website line"><i class="fa fa-star" aria-hidden="true"></i><%=k["Signature dishes"]%></div>
              <% } %>
              <% if (k.Website && k.Website != "n/a"){ %>
                <div class="website line"><i class="fa fa-link" aria-hidden="true"></i><a href="<%=k.Website%>" target="_blank"><%=k.Website%></a></div>
              <% } %>
              <% if (k.Tags){ %>
                <% var tags_list = k.Tags.split(",") %>
                <div class="tags line">
                  <% tags_list.forEach(function(t,tIDX) { %>
                    <span class="tag <%=t%>"><%=t%></span>
                  <% }) %>
                </div>
              <% } %>
              <% if (k.Area == "West") { %>
                <div class="region line region<%=k.Area%>"><a href="../cuisines/#Sichuan" target="_blank">Read about <%=k.Area%> China cuisine</a></div>
              <% } else if (k.Area == "East") { %>
                <div class="region line region<%=k.Area%>"><a href="../cuisines/#Shanghai" target="_blank">Read about <%=k.Area%> China cuisine</a></div>
              <% } else if (k.Area == "South") { %>
                <div class="region line region<%=k.Area%>"><a href="../cuisines/#Cantonese" target="_blank">Read about <%=k.Area%> China cuisine</a></div>
              <% } else if (k.Area == "North") { %>
                <div class="region line region<%=k.Area%>"><a href="../cuisines/#Northern" target="_blank">Read about <%=k.Area%> China cuisine</a></div>
              <% } else if (k.Area == "Taiwan") { %>
                <div class="region line region<%=k.Area%>"><a href="../cuisines/#Taiwanese" target="_blank">Read about <%=k.Area%> China cuisine</a></div>
              <% } %>
            </div>
        <% } %>
        </div>
      </div>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var restaurant_info= <%= JSON.stringify(json.ListForMap) %>
    </script>

    <script src="../map_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
