<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_map %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../map_style.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_map.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_map.html") %>

    <div class="map">
      <div id="map-leaflet"></div>
      <div class="tooltip-map"></div>
    </div>

    <div class="map-container">

      <div class="hed-container">
        <div class="hed">Take a tour of Chinese regional cuisines by visiting Bay Area restaurants</div>
        <div class="deck">This is a deck about how to use our cool map.</div>
        <div class="instructions">Scroll down to see the restaurants.
          <div class="arrow"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="space-container"></div>

      <div id="bottom-of-top"></div>
      <div class="panel-container">
      <% var count = 0; %>
      <% json.chinese_regional_caps_final.regions.forEach(function(d,dIDX){ %>
          <% d.restaurants.forEach(function(k,dIDX){ %>
            <div class="panel" id="panel<%=k.Restaurant.toLowerCase().replace(/ /g,'').replace(''','')%>">
              <div class="restaurant line"><%=k.Restaurant%></div>
              <div class="cuisine line <%=k.Cuisine%>"><i class="fa fa-cutlery" aria-hidden="true"></i><%=k.Cuisine%></div>
              <div class="address line"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="https://www.google.com/maps/place/<%=k.Address%>"  target="_blank" class="google-link"><%=k.Address%></a></div>
              <% if (k.Phone){ %>
                <div class="phone line"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:<%=k.Phone%>"><%=k.Phone%></a></div>
              <% } %>
              <% if (k.Hours){ %>
                <div class="hours line"><i class="fa fa-calendar" aria-hidden="true"></i><%=k.Hours%></div>
              <% } %>
              <% if (k["Signature dishes"]){ %>
                <div class="website line"><i class="fa fa-star" aria-hidden="true"></i><%=k["Signature dishes"]%></div>
              <% } %>
              <% if (k.Website && k.Website != "n/a"){ %>
                <div class="website line"><i class="fa fa-link" aria-hidden="true"></i><a href="<%=k.Website%>" target="_blank"><%=k.Website%></a></div>
              <% } %>
              <% if (k.Tags){ %>
                <% var tags_list = k.Tags.split(",");%>
                <div class="tags line">
                  <% tags_list.forEach(function(t,tIDX){ %>
                    <span class="tag <%=t%>"><%=t%></span>
                  <% }) %>
                </div>
              <% } %>
              <div class="capsule"><%=k.Capsule%></div>
              <div class="writer">- <%=k.Writer%></div>
            </div>
            <% count++; %>
          <% }); %>
      <% }); %>
      </div>

    </div>

    <div id="top-of-bottom"></div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var restaurant_info= <%= JSON.stringify(json.ListForMap) %>
    </script>

    <script src="../map_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
