<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_stories %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stories_style.css?2">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_analytics_stories.html") %>

    <%= t.include("partials/_head_stories.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_stories.html") %>

    <div class="title">The Stories</div>
    <div class="deck">Learn more about Chinese cuisines and restaurants in the Bay Area.</div>

    <div class="features-container">
    <% json["1NNewqPiNG-OBrm2o_a4Wx-zxqP2O1VAeGVjrG9leQ64_project_data"]["new-features"].reverse().forEach(function(story){ %>
      <div class="main-feature">
        <a href="<%=story.Link%>" target="_blank"><img src="//ww3.hdnux.com/photos/66/46/24/<%=story.PhotoID%>/3/premium_landscape.jpg">
          <%=story.Headline %>
        </a>
      </div>
    <% }); %>
    </div>

    <div class="existing-container">
    <% json["1NNewqPiNG-OBrm2o_a4Wx-zxqP2O1VAeGVjrG9leQ64_project_data"]["existing-features"].reverse().forEach(function(story){ %>
      <div class="feature">
        <a href="<%=story.Link%>" target="_blank">
          <img src="//ww3.hdnux.com/photos/66/46/24/<%=story.PhotoID%>/9/premium_landscape.jpg">
          <%=story.Headline %>
        </a>
      </div>
    <% }); %>
    </div>


    <%= t.include("partials/_footer.html") %>

    <script>
      var restaurant_info= <%= JSON.stringify(json.ListForMap) %>
    </script>

    <script src="../stories_app.js?2" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
