<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_map %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stories_style.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_map.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_stories.html") %>

    <div class="title">The Stories</div>
    <div class="deck">Learn more about Chinese cuisines and restaurants in the Bay Area.</div>

    <!-- <div class="features-container">
    <% json.chron_chinese_food_stories["new-features"].forEach(function(story){ %>
      <div class="feature">
        <%=story.Headline %>
      </div>
    <% }); %>
    </div> -->

    <div class="existing-container">
    <% json.chron_chinese_food_stories["existing-features"].forEach(function(story){ %>
      <div class="feature">
        <a href="<%=story.Link%>">
          <% if (story.PhotoID){ %>
          <img src="//ww3.hdnux.com/photos/66/46/24/<%=story.PhotoID%>/9/premium_landscape.jpg">
          <% } %>
          <%=story.Headline %>
        </a>
      </div>
    <% }); %>
    </div>


    <%= t.include("partials/_footer.html") %>

    <script>
      var restaurant_info= <%= JSON.stringify(json.ListForMap) %>
    </script>

    <script src="../stories_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
