@import "values";
@import "flexbox";
@import "fonts";
@import "sfchronicle";
@import "footer";
@import "project";

#how-to-button {
  text-align: center;
  color: @highlight;
  cursor: pointer;
  font-size:18px;
  font-family: @body-bold;
  .fa {
    padding-right: 10px;
    font-size: 30px;
    vertical-align: text-bottom;
    color: @highlight;
  }
}

#how-to-text {
  display: none;
  padding: 20px;
  max-width:850px;
  font-size: 16px;
  margin: 20px auto;
  background: lighten(@light-gray,18%);

  &.visible {
    display: block;
  }

  p{
    padding:0;
  }
}

.overhead{
  max-width:300px;
  margin:50px auto 0;

  img{
    width:100%;
  }

  @media @mobile{
    max-width:250px;
  }
}
.title-container{
  margin-top:50px;
}
.title.long{
  margin-top:0;
  margin-bottom: 0;

  @media @mobile{
    line-height:1;
  }
}
.landingtitle {
  text-align: center;

  @media @mobile {
    font-size: 30px;
    line-height: 1.3;
  }
}

.linkbox {
  width: 100%;
  max-width: 750px;
  padding: 10px 0;
  border-top: 1px solid #f0f0f0;
  @media @tablet {
    width: 95%;
  }
}

.linkimg {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  cursor: pointer;
  &:hover {
    opacity: 0.95;
  }
  a :hover{
    color:white;
  }
}

.link-container {

  .landing-link {
    font-size: 18px;
    text-align: center;

    .fa {
      font-size: 16px;
      padding-right: 10px;
    }

    @media @mobile{
      font-size:14px;
    }
  }
}

.linkbox-container {
  .display-flex;
  .flex-wrap(wrap);

  .linkbox {
    .flex(1 0 33%);
    @media @mobile {
      .flex(1 0 90%);
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.overlay:hover {
  background-color: rgba(0,0,0,0.6);
}

.aboutlanding{
  p{
  max-width:650px;
  font-size:18px;
  text-align:center;

  @media @mobile{
    font-size: 17px;
    padding: 10px 10px 0;
    text-align:left;
  }
  }
}
.linkdesc {
  font-family: @block-graphics;
  text-transform:uppercase;
  text-align: center;
  color: white;
  font-size: 28px;
  padding: 10px;
  line-height: 1.2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.subdesc{
  text-transform: initial;
  font-family: @body;
  font-size: 20px;
}

// .linkdesc {
//   font-family: @body-bold;
//   line-height: 1.2;
//   font-size: 28px;
// }

.linkimg:hover {

  &#r {
    text-shadow: none;
  }
}

.imgbtm {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.3;
  font-family: @med-graphics;
}

.embolden {
  font-size: 18px;
  font-family: @bold-graphics;
  padding-right: 10px;
}

.hideme {
  @media screen and (max-width: 974px) {
    display: none;
  }
}

#p1 {
  background-image: url("//ww3.hdnux.com/photos/66/46/24/14904237/9/1200x0.jpg");
  background-position: center top;
}
#p2 {
  background-image: url("//ww3.hdnux.com/photos/66/46/24/14904260/9/1200x0.jpg");
  background-position: center center;
}

#p3 {
  background-image: url("//ww3.hdnux.com/photos/66/46/24/14904229/9/1200x0.jpg");
  background-position: center center;
  // cursor: default !important;
}


// #p3{
//     background-image: url("./assets/photos/PART3.jpg");
//     background-position: center top;
// }
