@import "values";
@import "flexbox";
@import "fonts";
@import "sfchronicle";
@import "footer";
@import "project";

footer {
  background: 0;
}

.overlay-capsules {
  background: rgba(178, 178, 178, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1999;
  display: none;
  &.active {
    display: block;
  }
  overflow-y: scroll;
}

#capsules-box {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: left;
  background: white;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px solid @dark-gray;
  z-index: 2000;
  margin:auto;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.4;
  font-size: 16px;
  font-family: @med-graphics;
  .source {
    padding-bottom: 10px;
  }
  display: none;
  &.active {
    display: block;
  }
  .close-button {
    width: 100%;
    height: 20px;
    cursor: pointer;
  }
  .fa-times {
    float: right;
    font-size: 20px;
    padding-bottom: 20px;
  }
  @media @mobile {
    width: 80%;
    right: 0;
    left: 0;
  }
}

.capsule {
  display: none;
  &.showme {
    display: block;
  }
  .capsule-title {
    font-family: @bold-graphics;
    padding-bottom: 2px;
    border-bottom: 1px solid @light-gray;
    margin-bottom: 5px;
  }
  .capsule-img {
    max-width: 80%;
    img {
      width: 100%;
    }
    margin-bottom: 20px;
  }
  .capsule-author {
    text-align: right;
    padding-top: 20px;
    font-size: 14px;
    font-style: italic;
  }
  .fa {
    padding-right: 7px;
    color: @dark-gray;
  }
  .line {
    font-size: 14px;
  }
  .capsule-info {
    padding-bottom: 20px;
  }
  .region-map {
    max-width: 100px;
    img {
      width: 100%;
    }
  }
}

.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-canvas {
  z-index: 0 !important;
}

body {
  pointer-events: all;
}

#map-leaflet {
  svg {
    pointer-events: all;
  }
}
circle {
  cursor: pointer;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.map {
  position: relative;
}

.how-many-restaurants {
  // margin-top: -10px;
  margin-bottom: 20px;
  font-style: italic;
  display: none;
}

.leaflet-control-zoom {
  z-index: 999 !important;
}

.tooltip-map {
  // width: 300px;
  position: absolute;
  font-family: @med-graphics;
  font-size: 14px;
  background: white;
  padding: 20px;
  border: @light-gray 1px solid;
  visibility: hidden;
  z-index: 999;
  line-height: 1.2;
  // @media @mobile {
  //   display: none;
  // }
  .bold {
    padding-bottom: 2px;
    font-family: @block-graphics;
  }
  .address {
    font-style: italic;
    padding-bottom: 2px;
  }
}

.space-container {
  height: 700px;
}

.italic-span {
  font-style: italic;
  color: @dark-gray;
}

.map-container {
  .sidebar {
    position: relative;
    max-width: 600px;
    width: 40%;
    padding: 20px;
    line-height: 1.2;
    @media @mobile {
      max-width: 100%;
      margin: auto;
      margin-top: 0;
    }
    .title {
      font-family: @bold-graphics;
      font-size: 25px;
      padding-top: 25px;
      padding-bottom: 10px;
      text-align: center;
    }
    .deck {
      font-family: @med-graphics;
      padding-top: 5px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 18px;
    }
    margin-bottom: 0;
    background: rgba(255,255,255,0.95);
  }
  .restaurant-container {
    // height: 500px;
    // overflow-y: scroll;
    // border: 1px solid @dark-gray;
    // border-radius: 5px;
    // padding: 10px;
  }
  .restaurant-element {
    padding-top: 40px;
    line-height: 1.2;
    font-family: @med-graphics;
    font-size: 14px;
    display: none;
    &.active {
      display: block;
    }
    @media @mobile {
      margin-bottom: 500px;
      max-width: 100%;
    }
    .region {
      font-family: @block-graphics;
      font-style: italic;
      // padding: 10px;
      margin: 10px 10px 0 0;
      // background: lighten(@light-gray,15%);
      // border: 1px solid @light-gray;
    }
    .fa {
      padding-right: 7px;
      color: @dark-gray;
    }
    .fa-hand-o-right {
      color: @highlight;
    }
    .restaurant {
      font-family: @bold-graphics;
      border-bottom: 1px solid @light-gray;
      padding-bottom: 2px;
      margin-bottom: 5px;
      font-size: 18px;
    }
    // .address {
    //   font-style: italic;
    // }
    .capsule-link {
      font-family: @bold-graphics;
      color: @highlight;
      cursor: pointer;
      // font-style: italic;
      font-size: 14px;
      // padding-top: 5px;
      margin-bottom: 10px;
      border-bottom: 2px solid @highlight;
      width: 143px;
    }
    // .read-link {
    //   display: inline-block;
    // }
    .line {
      padding-bottom: 5px;
    }
    .capsule {
      padding-top: 10px;
    }
    .writer {
      padding-top: 10px;
      text-align: right;
      font-style: italic;
    }
    .icon {
      max-width: 100px;
      padding: 10px;
      margin-left: 15px;
    }
    .tags {
      // margin-top: 10px;
      .tag {
        display: inline-block;
        padding: 3px 10px;
        margin-right: 7px;
        margin-bottom: 5px;
        background: darken(#F4E1A1,5%);
        // color: white;
        color: @dark-gray;
        border-radius: 5px;
      }
      // margin-bottom: 5px;
    }
  }
}

#fullwidth-social{
  width:100%;
  text-align:center;
  padding: 5px 0 10px 0;
  font-size: 18px;

  .social{
    display:inline-block;
    padding:0 5px;

    @media @mobile{
      font-size: 17px;
    }
  }
}

.see-all {
  background: white;
  cursor: pointer;
  padding: 3px 10px;
  font-family: @bold-graphics;
  border-radius: 5px;
  width: 130px;
  margin: auto;
  margin-top: -15px;
  margin-bottom: 10px;
  color: @dark-gray;
  border: 2px solid @dark-gray;
  &.selected {
    color: white;
    background: @dark-gray;
  }
}

.filter-container {
  font-family: @med-graphics;
  font-size: 14px;
  text-align: center;
  // padding-bottom: 30px;
  .buttons-group {
    display: block;
    padding: 10px 5px;
    .button {
      display: inline-block;
      background: white;
      cursor: pointer;
      padding: 3px 10px;
      font-family: @bold-graphics;
      border-radius: 5px;
      &.east {
        color: @east-dark;
        border: 2px solid @east-dark;
        // &:hover {
        //   background: @east-dark;
        //   color: white;
        // }
        &.selected {
          background: @east-dark;
          color: white;
        }
      }
      &.west {
        color: @west-dark;
        border: 2px solid @west-dark;
        // &:hover {
        //   background: @west-dark;
        //   color: white;
        // }
        &.selected {
          background: @west-dark;
          color: white;
        }

      }
      &.south {
        color: @south-dark;
        border: 2px solid @south-dark;
        // &:hover {
        //   background: @south-dark;
        //   color: white;
        // }
        &.selected {
          background: @south-dark;
          color: white;
        }
      }
      &.north {
        color: @north-dark;
        border: 2px solid @north-dark;
        // &:hover {
        //   background: @north-dark;
        //   color: white;
        // }
        &.selected {
          background: @north-dark;
          color: white;
        }
      }
      &.taiwan {
        color: @taiwan-dark;
        border: 2px solid @taiwan-dark;
        // &:hover {
        //   background: @taiwan-dark;
        //   color: white;
        // }
        &.selected {
          background: @taiwan-dark;
          color: white;
        }
      }
    }
  }
}

.search-container {
  max-width: 900px;
  margin: auto;
  font-family: @block-graphics;
  margin-top: 20px;
  margin-bottom: 30px;
  // text-align: left;
  @media @mobile {
    // text-align: center;
    margin: 10px 0 20px 0;
  }
  .search {
    font-family: @med-graphics;
    font-size: 16px;
    margin-bottom: 5px;
  }
  input {
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid @dark-gray;
    font-family: @block-graphics;
    padding: 5px;
    width: 90%;
    font-size: 14px;
    @media @mobile {
      width: 80%;
      font-size: 14px;
      display: inline-block;
      margin: auto;
      margin-top: 0px;
    }
  }
}

.dropdown-container {
  font-family: @block-graphics;
  font-size: 16px;
  padding-top: 10px;
  .drop-down {
    display: inline-block;
    &.right {
    }
  }
  .select-text {
    font-size: 14px;
    display: inline-block;
    padding-right: 5px;
    font-family: @med-graphics;
  }
  select {
    font-family: @med-graphics;
    font-size: 14px;
    background: white;//lighten(@light-gray,5%);
    padding: 5px 10px;
    @media @mobile {
      padding: 5px 10px;
    }
    border-radius: 0;
  }
}

.drop-down {
  position: relative;
}

a {
  pointer-events: all;
}

#map-leaflet {
 height: 100vh;
 width: 100%;
 position: relative;
 margin: auto;
 z-index: 0;
 position: relative;
 overflow: hidden;
 position: fixed;
 left: 0;
 top: 0;

}

.nav-bottom {
  margin-top: 0;
}
