html, body{
  height:100%;
}
// @highlight: #ec1c24;//#0D3B66;

.credits {
  max-width: 600px;
  margin: 30px auto;
  font-family: @body;
  .name {
    font-style: italic;
  }

  .line {
    text-align: left;
    padding-bottom: 5px;
    line-height: 1.4;
    .fa {
      padding-left: 10px;
    }
  }
  .top-line {
    // text-align: center;
    line-height: 1.4;
    font-family: @body-bold;
    font-size: 18px;
    padding-bottom: 10px;
    @media @mobile {
      padding-bottom: 15px;
      text-align: left;
    }
  }
  // &.sfchron {
  //   .line {
  //     text-align: center;
  //   }
  // }
}

.logo-link {
  padding-top: 7px;
}

.section-links {
  display: inline-block;
}

.divider {
  border-bottom: 1px solid @light-gray;
  max-width: 80%;
  margin: 70px auto 50px auto;
  @media @mobile {
    margin: 40px auto 30px auto;
  }
}

.activesection {
  font-weight: 700;
}

.part1_link, .part2_link, .part3_link {
  @media @tablet-nav {
    display: none;
  }
}

.land_link {
  color: darken(@dark-gray,5%);
  font-family: @banner;
  @media @mobile {
    font-size: 14px;
    padding-left: 0;
  }
  // cursor: default !important;
  &:hover {
    color: @dark-gray;
  }
}

@china_fill: #F5E9D1;
@china_rule: #A19C8E;
@east: #E68173;
@north: #A8B5A5;
@west: #C9CDAB;
@south: #E4C268;
@regions_rule: #FFFFFF;
@taiwan: #7BC2CD;
@taiwan_rule: #7BC2CD;

// @east-dark: #E3594F;
// @north-dark: #C1D0CD;
// @west-dark: #C306BA;
// @south-dark: #F7E7A8;
// @taiwan-dark: #4787CB;

@east-dark: #C05B4D;
@north-dark: #828F7F;
@west-dark: #A3A785;
@south-dark: #BE9C42;
@taiwan-dark: #559CA7;
