@import "values";
@import "flexbox";
@import "fonts";
@import "sfchronicle";
@import "footer";
@import "project";

.hed {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: @body-bold;
}
.deck {
  // font-family: @med-graphics;
  font-family: @body;
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.scrolly-container {
  padding: 0 0 40px 0;
}

.writer {
  text-align: right;
  font-style: italic;
}

.header-button-container {
  display: block;
  padding-top: 30px;
  text-align: center;
  .header-button {
    display: inline-block;
    font-family: @banner;
    text-decoration: underline;
    padding: 0 5px;
    color: @dark-gray;
    font-size: 16px;
    font-weight: 800;
    // &.EAST {
    //   a {color: @east;}
    // }
    // &.WEST {
    //   a {color: @west;}
    // }
    // &.SOUTH {
    //   a {color: @south;}
    // }
    // &.NORTH {
    //   a {color: @north;}
    // }
    // &.TAIWAN {
    //   a {color: @taiwan;}
    // }
  }
}

.region-hed {
  font-family: @bold-graphics;
  border-bottom: 1px solid @light-gray;
  text-align: center;
  padding: 10px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  // color: white;
  &.EAST {
    border-bottom: 1px solid @east;
  }
  &.WEST {
    border-bottom: 1px solid @west;
  }
  &.SOUTH {
    border-bottom: 1px solid @south;
  }
  &.NORTH {
    border-bottom: 1px solid @north;
  }
  &.TAIWAN {
    border-bottom: 1px solid @taiwan;
  }
}

.region-span {
  font-family: @banner;
  font-size: 16px;
  font-weight: 800;
  &.EAST {
    color: @east;
  }
  &.WEST {
    color: @west;
  }
  &.SOUTH {
    color: @south;
  }
  &.NORTH {
    color: @north;
  }
  &.TAIWAN {
    color: @taiwan;
  }
}
.cuisine-span {
  font-family: @block-graphics;
  font-size: 20px;
}

.map-dishes-container {
  max-width: 1200px;
  margin: auto;
  .display-flex;
  .flex-wrap(wrap);
  .justify-content(center);
  margin-bottom: 30px;
  .dishes-container {
    .flex(0 0 33%);
    margin:auto;
    &.EAST {
      background: lighten(@east,15%);
    }
    &.WEST {
      background: lighten(@west,15%);
    }
    &.SOUTH {
      background: lighten(@south,15%);
    }
    &.NORTH {
      background: lighten(@north,15%);
    }
    &.TAIWAN {
      background: lighten(@taiwan,15%);
    }
  }
  .china-map-container {
    .flex(0 0 65%);
    position: relative;
    svg {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }

    img {
      width: 100%;
    }
  }
}

#chinabase,#taiwan_1_,#guangdong,#guangxi,#hunan,#yunnan,#sichuan,#tibet,#xinjiang,#shanghai,#shaanxi,#shandong,#dongbei,#beijing,#chinaoutline_x5F_nofill {
  opacity: 0;
}

.dishes-container {
  max-width: 400px;
  margin: auto;
  // margin-top: 20px;
  // margin-bottom: 50px;
  background: lighten(@light-gray,15%);
  padding: 15px;
  .dishes-hed {
    font-family: @block-graphics;
    border-bottom: 1px solid @dark-gray;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .dish {
    padding-bottom: 2px;
    .display-flex;
    .flex-wrap(wrap);
    .english {
      .flex(0 0 70%);
      font-family: @med-graphics;
      font-style: italic;
      font-size: 16px;
      line-height: 1;
      text-align: left;
      padding-top: 8px;
      vertical-align: middle;
      // float: left;
    }
    .chinese {
      padding-top: 3px;
      .flex(0 0 30%);
      text-align: right;
    }
  }
}

// .dishes-container::after {
//    content: " ";
//    display: block;
//    height: 0;
//    clear: both;
// }
