@import "values";
@import "flexbox";
@import "fonts";
@import "sfchronicle";
@import "footer";
@import "project";

@yellow: #F4E1A1;
// @highlight: #4886AE;

.lead-image {
  max-width: 1200px;
  padding-top: 37px;
  @media @width1400 {
    max-width: 1000px;
  }
  margin: auto;
  img {
    width: 100%;
  }
  &.mobile {
    display: none;
    @media @mobile {
      display: block;
    }
  }
  &.desktop {
    @media @mobile {
      display: none;
    }
  }
}

.hed {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: @body-bold;
  @media @mobile {
    font-size: 30px;
    line-height: 1.2;
  }
}
.deck {
  // font-family: @med-graphics;
  font-family: @body;
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.scrolly-container {
  padding: 0 0 40px 0;
}

.writer {
  // text-align: right;
  font-style: italic;
  margin-bottom: 0;
  font-size: 17px;
  // font-size: 19px;
}

.region {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  padding-top: 40px;
  margin-top: 0px;
  // background: lighten(@light-gray,15%);
  font-family: @med-graphics;
  font-size: 18px;
  padding: 20px;
  margin: 30px auto;
  // color: white;
}

.region-hed {
  font-family: @bold-graphics;
  border-bottom: 1px solid @light-gray;
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
  font-size: 24px;
  // color: @highlight;
}
.chinese-region-hed {
  // display: inline-block;
  height: 50px;
  padding-bottom: 5px;
  // padding-left: 20px;
  // padding-top: 10px;
  img {
    height: 100%;
  }
}
.region-hed, .chinese-region-hed {
  vertical-align: middle;
}
.region-map {
  max-width: 200px;
  margin: auto;
  img {
    max-width: 100%;
  }
}
.region-desc {
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
  line-height: 1.4;
  // padding: 0 20px 20px 20px;
  text-align: left;
  @media @mobile {
    font-size: 16px;
  }
  &.long {
    padding-bottom: 0;
  }
}

.region-span {
  font-family: @banner;
  font-size: 16px;
  font-weight: 800;
}
.cuisine-span {
  font-family: @block-graphics;
  font-size: 20px;
}

.visit-restaurants {
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding-left: 20px;
  @media @mobile {
    font-size: 16px;
    padding-left: 50px;
  }
  .visit-restaurants-hed {
    font-family: @block-graphics;
  }
  .visit-restaurant-restaurant {
    font-size: 16px;
    @media @mobile {
      font-size: 14px;
    }
    // font-style: italic;
  }
  .fa {
    padding-left: 20px;
    padding-right: 7px;
    // color: @dark-gray;
    font-size: 14px;
  }
}

// .deep-dive {
//   max-width: 1200px;
//   margin: 30px auto;
//   padding: 30px 10px;
//   // border: 2px solid @yellow;
//   // background: lighten(@yellow,18%);
//
//   .display-flex;
//   .flex-wrap(wrap);
//   .justify-content(center);
//   .deep-dive-title {
//     // .flex(0 0 100%);
//     padding-bottom: 30px;
//     font-size: 20px;
//     font-family: @bold-graphics;
//   }
//   // margin-bottom: 30px;
//   .dishes-container {
//     .flex(0 0 35%);
//     height: fit-content;
//     margin-left: 0;
//     // margin: auto;
//     @media @mobile {
//       .flex(0 0 90%);
//     }
//   }
//   .capsule-container {
//     .flex(0 0 60%);
//     margin-left: 10px;
//     font-size: 16px;
//     line-height: 1.2;
//     text-align: left;
//     @media @mobile {
//       .flex(0 0 100%);
//     }
//   }
// }

#chinabase,#taiwan_1_,#guangdong,#guangxi,#hunan,#yunnan,#sichuan,#tibet,#xinjiang,#shanghai,#shaanxi,#shandong,#dongbei,#beijing,#chinaoutline_x5F_nofill {
  opacity: 0;
}

.dishes-container {
  max-width: 450px;
  margin: 30px auto 20px auto;
  @media @mobile {
    margin: 20px;
  }
  // margin-top: 20px;
  // margin-bottom: 50px;
  // background: lighten(@light-gray,15%);
  // border: 1px solid @light-gray;
  background: lighten(@yellow,15%);
  padding: 15px;
  .dishes-hed {
    font-family: @block-graphics;
    border-bottom: 1px solid @dark-gray;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .dish {
    padding-bottom: 2px;
    .display-flex;
    .flex-wrap(wrap);
    .english {
      .flex(0 0 70%);
      font-family: @med-graphics;
      font-style: italic;
      font-size: 14px;
      line-height: 1;
      text-align: left;
      padding-top: 8px;
      vertical-align: middle;
      // float: left;
    }
    .chinese {
      padding-top: 3px;
      .flex(0 0 30%);
      text-align: right;
      font-size: 14px;
    }
  }
}

// .dishes-container::after {
//    content: " ";
//    display: block;
//    height: 0;
//    clear: both;
// }
