<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="landing_style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="title-container">
        <div class="overhead"><img src="./assets/characters/manychinas.jpg"></div>
          <h1 class="title long landingtitle">Many Chinas, Many Tables</h1>
    </div>

    <div class="aboutcontainer">
      <div class="aboutlanding">
        <p>Chinese food in Northern California has never been more varied and exciting. A guide to 17 regional cuisines, from Tibetan to Shanghainese.</p>
      </div>

      <div id="how-to-button"><span class="click-icon"><i class="fa fa-caret-down"></i></span>How to use this guide</div>
      <div id="how-to-text">

        <p>Most of us, whether born in China or not, have only a vague sense of how varied and distinctive the regional cuisines of China are. Chinese restaurants in the Bay Area, too, are growing ever more diverse and exciting thanks to changing immigration patterns.</p>
        <p>The Chronicle has created this curated guide to identify the best restaurants specializing in regional Chinese cuisines and offer signposts to help direct diners toward good food.</p>
        <p>Each restaurant capsule focuses on the restaurant’s strengths – most of them regional dishes – and lists a few of the specialties our team of writers enjoyed the most. Use each capsule as a starting point, a way to navigate large menus and start up conversations with the restaurant staff to pick out new favorites as well. Obviously, your success rate will improve by dining with someone who grew up eating the food you’re trying to order.</p>

      </div>

      <div class="link-container">
        <div class="landing-link"><a href="//sfchronicle.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Roundtable: How to navigate a menu</a></div>
      </div>

      <div class="linkbox-container">
        <div class="linkbox" style="border-top: 0;">
          <div class="linkimg" id="p2">
            <a href="./map">
              <div class="overlay">
                <div class="linkdesc">The Restaurants<div class="subdesc">Find a restaurant near you</div></div>
              </div>
            </a>
          </div>
        </div>

        <div class="linkbox" style="border-top: 0;">
          <div class="linkimg" id="p1">
            <a href="./cuisines">
              <div class="overlay">
                <div class="linkdesc">The Cuisines<div class="subdesc">Learn about the food</div></div>
              </div>
            </a>
          </div>
        </div>

      <div class="linkbox" style="border-top: 0;">
        <div class="linkimg" id="p3">
          <a href="./stories">
            <div class="overlay">
              <div class="linkdesc">The Stories<div class="subdesc">The stories behind the food</div></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    </div>


    <%= t.include("partials/_footer.html") %>

    <script src="landing_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
