<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title_landing %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="landing_style.css?">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_analytics.html") %>

    <%= t.include("partials/_head_landing.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_landing.html") %>


      <div class="linkbox-container">

        <div class="linkbox title-linkbox">
          <div class="linkimg" id="p0">
            <div class="overlay-title">
              <div class="title-container">
                <div class="overhead"><img src="./assets/characters/manychinasmanytables_hed.svg"></div>
                <h1 class="main-title">Many Chinas, Many Tables</h1>
              </div>
              <div class="deck">Chinese food in Northern California has never been more varied and exciting. A guide to 17 regional cuisines, from Tibetan to Shanghainese.</div>
            </div>
          </div>
        </div>

        <div class="linkbox" style="border-top: 0;">
          <div class="linkimg" id="p1">
            <a href="./cuisines">
              <div class="overlay">
                <div class="linkdesc">The Cuisines<div class="subdesc">Learn about the food</div></div>
              </div>
            </a>
          </div>
        </div>

        <div class="linkbox" style="border-top: 0;">
          <div class="linkimg" id="p2">
            <a href="./map">
              <div class="overlay">
                <div class="linkdesc">The Restaurants<div class="subdesc">Find a restaurant near you</div></div>
              </div>
            </a>
          </div>
        </div>

      <div class="linkbox" style="border-top: 0;">
        <div class="linkimg" id="p3">
          <a href="./stories">
            <div class="overlay">
              <div class="linkdesc">The Stories<div class="subdesc">The stories behind the food</div></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    </div>

    <div class="more-resources">More resources</div>

    <div id="how-to-button"><span class="click-icon"><i class="fa fa-caret-down"></i></span>How to use this guide</div>
    <div id="how-to-text">

      <p>Most of us, whether born in China or not, have only a vague sense of how varied and distinctive the regional cuisines of China are. Chinese restaurants in the Bay Area, too, are growing ever more diverse and exciting thanks to changing immigration patterns.</p>
      <p>The Chronicle has created this curated guide to identify the best restaurants specializing in regional Chinese cuisines and offer signposts to help direct diners toward good food.</p>
      <p>Each restaurant capsule focuses on the restaurant’s strengths – most of them regional dishes – and lists a few of the specialties our team of writers enjoyed the most. Use each capsule as a starting point, a way to navigate large menus and start up conversations with the restaurant staff to pick out new favorites as well. Obviously, your success rate will improve by dining with someone who grew up eating the food you’re trying to order.</p>

      <div class="link-container">
        <div class="landing-link"><a href="https://www.sfchronicle.com/food/article/Roundtable-How-do-you-order-regional-Chinese-12573315.php" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Roundtable: How to order off a confusing menu</a></div>
        <div class="landing-link"><a href="https://www.sfchronicle.com/food/article/How-China-s-many-regions-have-changed-how-Bay-12572777.php" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Introduction: Why we are writing about this now?</a></div>
      </div>

    </div>

    <div id="credits-button"><span class="click-icon"><i class="fa fa-caret-down"></i></span>Meet the team</div>

    <div  id="credits-text">
      <div class="credits">

        <div class="line top-line">Restaurant reviewers contributing to the guide:</div>

        <div class="line"><span class="name">Michael Bauer</span> is The Chronicle’s staff restaurant critic. <a href = "https://twitter.com/michaelbauer1" target="_blank"><i class="fa fa-twitter"></i></a></div>

        <div class="line"><span class="name">Craig Brozinsky</span> loves swapping tips about mom-and-pop restaurants on Hungry Onion, a forum where he manages <a href="https://www.hungryonion.org/t/regional-chinese-roundup-3-0-sf-bay-area" target="_blank">a list of 350-plus regional Chinese restaurants.</a><a href = "https://twitter.com/@Hyperbowler1" target="_blank"><i class="fa fa-twitter"></i></a></div>

        <div class="line"><span class="name">April Chan</span> is a San Francisco native and food studies graduate student at University of the Pacific.<a href = "https://twitter.com/@pril" target="_blank"><i class="fa fa-twitter"></i></a></div>

        <div class="line"><span class="name">Momo Chang</span> is a former staff writer at the Oakland Tribune and an East Bay writer and editor.<a href = "https://twitter.com/@momochang_oak" target="_blank"><i class="fa fa-twitter"></i></a></div>

        <div class="line"><span class="name">Carolyn Jung</span>, a James Beard Award-winning food writer, is the creator of FoodGal.com and the author of "San Francisco Chef's Table.''<a href = "https://twitter.com/@carolynjung" target="_blank"><i class="fa fa-twitter"></i></a></div>

        <div class="line"><span class="name">Jonathan Kauffman</span> is a Chronicle staff writer and a former restaurant critic in the Bay Area and Seattle.<a href = "https://twitter.com/@jonkauffman" target="_blank"><i class="fa fa-twitter"></i></a></div>

      </div>

      <div class="credits sfchron">

        <div class="line top-line">Project team:</div>

        <div class="line">Project coordinator: <a href="mailto:jkauffman@sfchronicle.com">Jonathan Kauffman</a></div>
        <div class="line">Editor, food and wine: <a href="mailto:plucchesi@sfchronicle.com">Paolo Lucchesi</a></div>
        <div class="line">Assistant managing editor, lifestyle: <a href="mailto:kmorgan@sfchronicle.com">Kitty Morgan</a></div>
        <div class="line">Lead developer and designer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
        <div class="line">Digital designer and producer: <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></div>
        <div class="line">Art director: <a href="mailto:dmollette-parks@sfchronicle.com">Danielle Mollette-Parks</a></div>
        <div class="line">Photo editor: <a href="mailto:ryip@sfchronicle.com">Russell Yip</a></div>
        <div class="line">Graphic artist: <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a></div>
        <div class="line">Copy editor: Bernadette Fay</div>
        <div class="line">Contributors: Clarissa Wei, Carolyn Phillips, Chris Ying</div>

      </div>
    </div>

    <div class="email-jonathan">Direct emails, questions and comments to <a href="mailto:food@sfchronicle.com">the Food editors</a>.</div>


    <%= t.include("partials/_footer.html") %>

    <script src="landing_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
